.ghost-icon-weather {
    font-size: 110px;
    opacity: 0.2;
    position: absolute;
    transform: rotate(10deg);
    margin-left: -30px;
    margin-top: 10px;
}

#degrees {
    font-size:25px;
}

#description {
    font-size: 12px;
}