<button (click)="showForecast = !showForecast">Show Forecast</button>
<div *ngFor="let weather of weatherForecast">
  <weather-item *ngIf="showForecast" [WeatherItem]="weather"></weather-item>
</div>
