<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
  </div>
  <a class="navbar-brand" href="#"><clock></clock></a>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li><i class="mdi mdi-television ghost-icon-home"></i><a href="#" id="logo">Home<br/><span class="emphasis">Hub</span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right topSpace">
      <weather-item *ngIf="weatherData" [WeatherItem]="weatherData"></weather-item>
    </ul>
  </div>
</nav>
<div id="body">
    <div class="hero-unit" id="particles-js">
        <app-home></app-home>
    </div>
</div>
