//Remote Imports
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

//Sandstone Imports
@import '../assets/styles/site/sandstone/variables';
@import '../assets/styles/site/sandstone/bootswatch';

//Site Style Imports
@import '../assets/styles/site/layout';

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    margin-top: 10px;

    clock {
        font-size: 1.5em;
    }
}
.navbar-toggle {
    z-index:3;
}

.navbar {
    margin-bottom: 0px !important;
    opacity: .9;
}

#logo { 
    font-size: 1.5em;

    .emphasis {
        font-size: 25px;
    }
}

.topSpace{
    margin-top: 15px;
}

.ghost-icon-home {
    font-size: 110px;
    opacity: 0.2;
    position: absolute;
    transform: rotate(10deg);
    margin-top: 32px;
    margin-left: -13px;
}
