<div class="item-container">
    <div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h1 class="header">{{currentTopic.name}}</h1>
        </div>
        <!--<div class="col-md-1">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
        </div>-->   
    </div>
    <div class="panel animated flipInX" *ngFor="let feed of feeds">
      <feed-card [feed]="feed"></feed-card>
    </div>
</div>