.gif{
    margin-top: 3px;
    margin-right: 3px;
    border: 1px solid #E1E1E1;
    border-radius: 3px;
    overflow: hidden;
    height: 90px;
    width: 90px;
    float: right;
    display: inline-block;
}

.author{
    margin-top: -5px;
}
.feedInfo{
    width: 90%;
    font-family: roboto;
    display: inline-block;
}
.title{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    display: block;
    overflow: hidden
}